<!DOCTYPE html>
<html lang="en">
   <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head> 
   <body>
    <header> 
        <h2>Header</h2>
        <nav>
            <h3>Navigation</h3>
            <ul>
                <l1>
                    <a href="../index.html">Home</a>
                </l1>
                <ll>
                     <a href="./contacts.html" target="blank">Contacts</a>
                </l1>
                <l1>
                     <a href="./about-page.html"target="blank">About</a>
                </l1>
                <l1>
                 </l1>
            </ul>
                   
        </nav>
     </header>
     <main>
        <h1> Contacts</h1> 
     </main>
     <footer>
         <h2>Page Footer</h2>
     </footer>
   </body>
</html>   