<!DOCTYPE html>
<html lang="en">
   <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head> 
   <body>
    <header> 
        <h2>Math area</h2>
        <nav>
            <h3>Navigation</h3>
            <ul>
                <l1>
                    <a href="../index.html">Home </a>
                </l1>
                <l1>
                    <a href="../math.html" target="blank">Math </a>
                </l1>
                <l1>
                    <a href="../computer-science.html" target="blank#">Computer Science</a>
                </l1>
                <l1>
                    <a href="../tutoring.html" target="blank">Tutoring</a>
                </l1>
                <l1>
                    <a href="../ukr-lang.html" target="blank">Українська мова</a>
                </l1>
                <ll>
                    <a href="../contacts.html" target="blank">Contacts</a>
                </l1>
                <l1>
                    <a href="../about-page.html"target="blank">About</a>
                </l1>
            </ul>        
        </nav>
     </header>
     <main>
        <h2> Інструменти</h2> 
        <ul>
            <l1>
                <p>Тренажери</p>
            </l1>
            <l1>
                <p>Графічні диктанти</p>
            </l1>      
        </ul>
     </main>
     <footer>
         <h2>Особливості використовування</h2>
     </footer>
   </body>
</html>   